<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Hello {{ first }} {{ last }}</h1>
<p><a href="{{ request.route_url('home') }}">Back home</a></p>
</body>
</html>
